get-pip.py
PersonalDocEnvt/
personal_doc/uitls.py
personal_doc/db.sqlite3
personal_doc/personal_doc/__pycache__/
personal_doc/personal_doc_app/__pycache__/
personal_doc/personal_doc_app/migrations/__pycache__/
.env
